* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  padding: 1rem;
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: space-between;
}